
<% random_letters = ('a'..'z').to_a.sample(10) %>
<%= random_letters.join(' ') %>

<%# <form action="/your-action" method="POST">
  <!-- Your form fields go here -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>


